 * {
              box-sizing: border-box;
              margin: 0;
              padding: 0;
            }

            body {
              background-color: #eee;
              font-family: 'helvetica neue', helvetica, arial, sans-serif;
              color: #222;
              text-align:center;
              padding:100px 0;
            }

            #form {
              max-width: 700px;
              padding: 2rem;
              box-sizing: border-box;
            }

            .form-field {
              display: flex;
              margin: 0 0 1rem 0;
            }
            label, input {
              width: 50%;
              padding: 0.5rem;
              box-sizing: border-box;
              justify-content: space-between;
              font-size: 1.1rem;
            }
            label {
              text-align: right;
              width: 30%;
            }
            input {
              border: 2px solid #aaa;
              border-radius: 2px;
            }.box{
              padding: 10px;
              font-size: 25px;
              background-color: #f9f9f9;
              border: 1px solid #ccc;
              width: 60%;
              margin: 15px auto;
              transition:all .5s ease-in-out;
            }.box a{
              float: right;
              border-radius: 4px;
              padding: 3px;
              font-size: 19px;
              text-decoration: none;
              color: #ebb6b4;
              background-color: #e15252;
              min-width: 98px;
            }.box ~form,form{
              background-color: #d4d4d4;
              padding: 7px;
              padding-top:20px;
              margin: auto;
              width: 60%;
              margin-top:50px;
            }.box ~form input,form input{
              margin-bottom:20px;
            }.box ~form input[value*="dd"]{
              background-color: #2fca2f;
            }.box a[alt*="edait"]{
              float: right;
              border-radius: 4px;
              padding: 3px;
              font-size: 19px;
              text-decoration: none;
              color: #0e3ad8;
              margin-right: 11px;
              background-color: #528ee1;
              min-width: 98px;
            }